<a href="https://colab.research.google.com/github/juuu0811/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
i = 0
result = 0
while i <= 50:
     if i % 2 != 0:
        result += i
     i+=1
print('0~50的奇數數和結果是%d'%result)

0~50的奇數數和結果是625

In [6]:
i = 0
result = 0
while i <= 50:
     if i % 2 == 0:
        result += i
     i+=1
print('0~50的偶數數和結果是%d'%result)

0~50的偶數數和結果是650

In [7]:
n = int(input('請輸入正整數'))
for i in range(1,n+1):
    for j in range(i,n+1):
        print('*',end='')
    print()

請輸入正整數7
*******
******
*****
****
***
**
*

In [8]:
sum = 0
for i in range(0, 101):
    if (i%3==0 or i%7==0):
        sum += i
print('數值 1~100 中,所有是3或7倍數的數之總和=',sum)

數值 1~100 中,所有是3或7倍數的數之總和= 2208

In [9]:
p=1
counter=0
n = int(input('請輸入正整數'))
print(n,'的因數',end=' ')
while (p<=n):
    if (n%p==0):
        print(p,end=' ') 
        counter+=1
    p+=1

print()
if (counter==2):
   print(n,'是質數')
else:
   print(n,'不是質數')

請輸入正整數3
3 的因數 1 3
3 是質數

In [10]:
list1 = [1, 2, 3, 4, 5]

In [11]:
list1

[1, 2, 3, 4, 5]

In [19]:
list2 = ['香蕉', '蘋果', '橘子']

In [13]:
list2

['香蕉', '蘋果', '橘子']

In [16]:
list3 = [1,'香蕉',True]

In [17]:
list3

[1, '香蕉', True]

In [18]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [20]:
list4 = ['香蕉', '蘋果', '橘子']

In [24]:
print(list4[1])

蘋果

In [25]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [26]:
print(list4[3])

IndexError: ignored

In [27]:
print(list4[-1])

橘子

In [28]:
print(list4[-3])

香蕉

In [29]:
print(list[-4])

IndexError: ignored

In [30]:
list5 = [['tom','1234']],['mary','abcd'],['david','5678']

In [31]:
print(list5[1])

['mary', 'abcd']

In [32]:
print(list5[0])

[['tom', '1234']]

In [33]:
print(list5[1][1])

abcd

In [35]:
print(list5[0][0])

['tom', '1234']

In [36]:
print(list5[1][0])

mary

In [40]:
list6 = [85, 79, 93]

In [42]:
print('國文成績:%d分' % list6[0]) 
print('數學成績:%d分' % list6[1])
print('英文成績:%d分' % list6[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [43]:
list7 = [1, 2, 3, 4, 5]

In [44]:
print(list7[0])

1

In [45]:
list7[0] = 9

In [46]:
print(list7[0])

9

In [47]:
print(list7)

[9, 2, 3, 4, 5]

In [48]:
list8 = ['香蕉', '蘋果', '橘子']

In [49]:
for s in list8:
    print(s, end=',')

香蕉,蘋果,橘子,

In [50]:
items = [123,'apple',True]
for item in items:
    print(item)

123
apple
True

In [51]:
scores = [85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [94]:
subjects = ['國文','數學','英文']
scores = [85,79,93]
for i in range(len(scores)):    
    print('%s成績:%d分' % (subjects[i],scores[i]))

國文成績:85分
數學成績:79分
英文成績:93分

In [97]:
number = [1,2,3]
name = ['Tom','Mary','Tony']
for i in range(len(number)):
    print('編號:%d 姓名:%s' % (number[i],name[i]))

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony